{% extends 'base.html' %}

{% block header %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">詳細画面</h1>
        <p class="lead">todoの詳細です</p>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class='alert alert-success' role="alert">
        <p>タイトル：{{object.title}}</p>
        <p>中身：{{object.memo}}</p>
        <p>期日：{{object.duedate}}</p>
    </div>
</div>
{% endblock content %}